@media screen and (min-device-width:750px){
.topnav{
  display: none;
}  
html{
    scroll-behavior: smooth;
    animation: transitionIn 1.00s;
    margin:0;
    padding: 0;
    background-color: #282a36;
  
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
}
}
  .logo {
    width: 300px;
  }
  
  h2 {
    color: #024873;
  }
  h5{
    padding-top: 6%;
    text-align: center;
    color:whitesmoke;
  }
  
  .links__item {
    display: block;
    max-width: 550px;
    margin: 0 auto 15px;
    margin-bottom: 5px;
    padding: 15px 20px;
    font-size: 0.95rem;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: black;
  }
  
  .links__item .links__item--alumni:hover {
    background-color: #fff;
    transform: scale(1.02); 
  }
  
  .links__item .links__item--upcoming:hover {
    background-color: #fff;
    transform: scale(1.02); 
  }
  
  .links__item .links__item--promo:hover {
    background-color: #fff;
    transform: scale(1.02); 
  }
  
  .links__item .links__item--past-event:hover {
    background-color: #fff;
    transform: scale(1.02); 
  }
  
  .links__item .links__item--featured:hover {
    background-color: #fff;
    transform: scale(1.02); 
  }
  
  .links__item .links__item--product:hover {
    background-color: #fff;
    transform: scale(1.02); 
  }
  
  .links__item .links__item--blog:hover {
    background-color: #fff;
    transform: scale(1.02); 
  }
  
  .links__item .links__item--upcoming {

    border-radius: 25px;
    background-color: #E73C7E;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(250, 52, 52));
  }
  
  .links__item .links__item--promo {
    border-radius: 25px;
    background: linear-gradient(-45deg, rgb(44, 44, 255), rgb(0, 128, 255), lightblue);
  }
  
  .links__item .links__item--past-event {
    border-bottom: 3px solid #bedde8;

    border-radius: 25px;
    border: 2px solid #bedde8;
    background-color: #bedde8;
  }
  

  .links__item .links__item--alumni {
    border-radius: 25px;
    background: linear-gradient(-45deg, rgb(250, 231, 145), rgb(212, 138, 0), rgb(240, 84, 84));
  }
  

  .channels {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .channels .channels__item {
    flex: 1;
    margin-right: 5px;
    transition: transform 0.2s;
  }
  
  .channels__item:hover {
    transform: scale(1.5);
  }
  .links__item{
    text-align: center;
    text-decoration: none;
    color: white;
  }
  a:hover{
    text-decoration: none;
    color: white;
  }
  .links__item h4{
    color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
  }


html, body{
  background-color: #282a36; 
}
*{
  margin:0;
  padding: 0;
  background-color: #282a36;
}
.nav{
  padding-top: 15px;
  background-color: #282a36;
}
.navbar-expand-lg{
  width: 100%;
  padding:0;
  margin:0;
  font-weight: bold;
}
.nav-link{
  font-weight: bold;
  color: whitesmoke;
}
.navbar-brand{
  color: whitesmoke;
  padding-right: 59%;
  font-size: 160%;
  background-color: #282a36; 
  padding-left: 0%;
  font-weight: bold;
}
.navbar-brand:hover{
  color: lightblue;
}
.wrapper{
  width: 75%;
  margin: 0 auto;
}
}

  /* For Mobile*/
@media screen and (max-device-width:480px){
    html, body{
        background-color: whitesmoke;
    }
    *{
      background-color: whitesmoke;
      margin:0;
      padding: 0;
    }
    html{
      scroll-behavior: smooth;
      animation: transitionIn 1.00s;
      margin:0;
      padding: 0;
    
  }
  @keyframes transitionIn {
      from{
          opacity: 0;
          transform: rotateX(-10deg);
      }
  
      to{
          opacity: 1;
          transform: rotateX(0);
  }
  }
    .nav{
      display: none;
    }
    .topnav {
      display: block;
      overflow: hidden;
      background-color: white;
      position: relative;
      width: 100%;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
      display: none;
    }
    
    /* Style navigation menu links */
    .topnav a {
      color: black;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
      background:white;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
  
    }
    
    /* Add a grey background color on mouse-over */
  
    
    /* Style the active link (or home/logo) */
    .active {
      background-color: white;
      color: rgb(108, 207, 252);
    }
    .image-home{
      width: 25px;
      height: auto;
      margin: 0 auto;
      
    }
    .wrapper{
      width: 100%;
    }
    .links__item h4{
      color:black;
      padding-top: 5%;
      padding-bottom: 5%;
      font-weight: bold;
    }




    .links__item {
      display: block;
      max-width: 550px;
      margin: 0 auto 15px;
      margin-bottom: 5px;
      padding: 15px 20px;
      font-size: 0.95rem;
      line-height: 1.5;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      color: black;
    }
    
    .links__item .links__item--alumni:hover {
      background-color: #fff;
      transform: scale(1.02); 
    }
    
    .links__item .links__item--upcoming:hover {
      background-color: #fff;
      transform: scale(1.02); 
    }
    
    .links__item .links__item--promo:hover {
      background-color: #fff;
      transform: scale(1.02); 
    }
    
    .links__item .links__item--past-event:hover {
      background-color: #fff;
      transform: scale(1.02); 
    }
    
    .links__item .links__item--featured:hover {
      background-color: #fff;
      transform: scale(1.02); 
    }
    
    .links__item .links__item--product:hover {
      background-color: #fff;
      transform: scale(1.02); 
    }
    
    .links__item .links__item--blog:hover {
      background-color: #fff;
      transform: scale(1.02); 
    }
    
    .links__item .links__item--upcoming {
  
      border-radius: 25px;
      background-color: #E73C7E;
      background: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(250, 52, 52));
    }
    
    .links__item .links__item--promo {
      border-radius: 25px;
      background: linear-gradient(-45deg, rgb(44, 44, 255), rgb(0, 128, 255), lightblue);
    }
    
    .links__item .links__item--past-event {
      border-bottom: 3px solid #bedde8;
  
      border-radius: 25px;
      border: 2px solid #bedde8;
      background-color: #bedde8;
    }
    
  
    .links__item .links__item--alumni {
      border-radius: 25px;
      background: linear-gradient(-45deg, rgb(250, 231, 145), rgb(212, 138, 0), rgb(240, 84, 84));
    }
    
  
    .channels {
      display: flex;
      max-width: 400px;
      margin: 0 auto;
    }
    
    .channels .channels__item {
      flex: 1;
      margin-right: 5px;
      transition: transform 0.2s;
    }
    
    .channels__item:hover {
      transform: scale(1.5);
    }
    .links__item{
      text-align: center;
      text-decoration: none;
      color: white;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }


}